/*Cores

#12130F PRETO
#5B9279 AZUL CLARO
#8FCB9B VERDE CLARO
#EAE6E5 BRANCO
#8F8073 CINZA CLARO*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg,
        #5B9279 0%,
        #8FCB9B 100% );
}

.conteiner{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content:center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.conteiner.x .linha:not(.x):not(.circulo):hover::after,
.conteiner.x .linha:not(.x):not(.circulo):hover::before,

.conteiner.circulo .linha:not(.x):not(.circulo):hover::after,
.conteiner.circulo .linha:not(.x):not(.circulo):hover::before{
    background:  rgba(234, 230, 229, 0.308) !important;
}

.linha{
    width: 100px;
    height: 100px;
    border: 2px solid #12130F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.linha.x,
.linha.circulo{
    cursor: not-allowed;
}

.linha:nth-child(1),
.linha:nth-child(2),
.linha:nth-child(3){
    border-top: none;
} 

.linha:nth-child(1),
.linha:nth-child(4),
.linha:nth-child(7){
    border-left: none;
} 

.linha:nth-child(3),
.linha:nth-child(6),
.linha:nth-child(9){
    border-right: none;
} 

.linha:nth-child(7),
.linha:nth-child(8),
.linha:nth-child(9){
    border-bottom: none;
} 

/* Fazendo o X */

.linha.x::before,
.linha.x::after,
.conteiner.x .linha:not(.x):not(.circulo):hover::after,
.conteiner.x .linha:not(.x):not(.circulo):hover::before{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background:#EAE6E5;
    position: absolute;
}

.linha.x::before,
.conteiner.x .linha:not(.x):not(.circulo):hover::before{
    transform: rotate(45deg);
}

.linha.x::after,
.conteiner.x .linha:not(.x):not(.circulo):hover::after{
    transform: rotate(-45deg);
}

/*Fazendo o O */

.linha.circulo::before,
.linha.circulo::after,
.conteiner.circulo .linha:not(.x):not(.circulo):hover::after,
.conteiner.circulo .linha:not(.x):not(.circulo):hover::before{
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px *0.9);
    background: #EAE6E5;
    position: absolute;
    border-radius: 50%;
}

.mensagem{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    flex-direction: column;
}

.btn{
    font-size: 25px;
    background-color: #8F8073;
    color: #12130F;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

.btn:hover{
    background-color:#12130F;
    color:#8F8073 ;
}

.msg_Txt{
    color: #8F8073;
    font-size: 50px;
}